.pc_cont{
 display: flex;
 width: 400px;
 flex-direction: row;
justify-content: space-between;
padding: 10px;
}
.pc_cont > input {
    height: 22px;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
}
.insert_btn{

    background-color: #ff4b2b;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 18px;
    letter-spacing: 1px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    margin: 5px; 
    justify-content: center;
    margin-top: 20px;
}